*, html, body {
    box-sizing: border-box;
    margin: 0;
}

/* Header section */
.header {
    background-color: #1f2937;
    display: block;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.navigation-bar {
    display: flex;
    height: 70px;
    width: auto;
    flex: 1;
    justify-content: space-between;
}

#logo {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    align-self: flex-start;
}

ul {
    list-style: none;
}

li {
    margin: 0 10px;
}
.header-links {
    color: antiquewhite;
    display: flex;
    align-items: center;
    height: 50px;
    width: auto;
}

#text-header {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.hero-header {
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 450px;
}

h3 {
    font-size: 18px;
    color: #F9FAF8;
    width: 450px;
}

.img-header {
    display: flex;
    min-width: 200px;
    flex-wrap: nowrap;
    margin: auto;
}

#hero-img {
    max-width: 100%;
    min-width: 317.16px;
    max-height: 222px;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    background-color: red;
}

button {
    background-color: #3882f6;
    color: antiquewhite;
    width: 115px;
    height: 35px;
    padding: 6px 9px;
    border-radius: 12%;
    margin-top: 8px;
    margin-bottom: 3px;
}

/* Body section */

.body-galery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .body-sub-title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin: 20px;
}

.galery {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.galery-container {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

p {
    margin: 10px 0;
}

.foto {
    max-height: 200px;
    /* min-height: auto;
    max-width: auto; */
    flex: 1 1;
    border-radius: 5%;
    padding: 5px;
    background-color: #3882f6;
}

.quotes {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.quotes-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

#quote {
    font-weight: bold;
    font-size: 24px;
    justify-content: flex-end;
    align-self: flex-end;
}


/* Footer section */
footer {
    background-color: #1f2937;
}